.navMenu{
    input{
        cursor: pointer;
        border-style:groove;
        border-color: #EBF5FB ;
        width: 100%;
        background-color: #EBF5FB ;
        &:hover{
            color: white;
            background-color: #078dd5;
        }
    }
}


.bannerSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
/*     @media screen and (max-width:540px){
       display: none;
    } */
}

.bannerPenguin{
    max-width: 20%;
    border-radius: 51%;
}
.bannerPenguin01{
    max-width: 10%;
    border-radius: 50%;
    animation: banner02 10s infinite linear;
}



.logoPenguin{
    max-width: 76px;
    @media screen and (max-width:540px){
      display: none;
     }
     border-radius: 30%;
     object-fit: cover;
}






@keyframes banner02 {
    0%   { opacity: 20%;}
    20%  { opacity: 60%; }
    40%  { opacity: 100%; }
    60%  {opacity: 60%; }
    80%  {opacity: 20%; }
  }

.bannerPenguin02{
    max-width: 10%;
    border-radius: 50%;
    animation: banner02 10s infinite linear;
}




.headerContenedor02{
    h1{
        margin-left: 17%;
        margin-left: 17%;
        color: rgb(45, 43, 43);
    }
}

.headerContenedor02{
    h2{
  /*       margin-left: 23%; */
        color: rgb(151, 146, 146);
    }
}

@keyframes color {
    0%   { background: #ffffff; }
    20%  { background: #ffffff; }
    40%  { background: #ffffff; }
    60%  { background: #ffffff; }
    80%  { background: #b9ffff; }
  }
  body{

    animation: color 5s infinite linear;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

footer{
    margin-top: auto;
 /*    width: 100%; */

}

.justificado{
    text-align: justify;
}

header{
/*     width: 100%; */
    margin-bottom: 1%
}

html{
    @media screen and (max-width:540px){
        font-size: 12px;
    }
}

.textoContacto{
    font-size: 50px;
    @media screen and (max-width:540px){
        font-size: 14px;
    }
}

.headerContenedor{
    display: flex;
}

.headerContenedor01{
    max-width: 15%;
    max-height: 50%;
}
.headerContenedor02{
    max-width:55% !important;
    max-height:60% !important;
    margin-left: 10%;
}
.headerContenedor03{
    max-width: 20%;
    max-height: 50%;
    margin-left: 7%;
    margin-top: 5%;
}
.logo{
    max-width: 50%;
    max-height: 50%;
    padding-top: 1%;
}


.navMenu {
    max-width:100%;
    max-height:100%;
    padding-right: 2%;

}



.tituloSub{
    width: 100%;
    height: 50%;
}



.imagenMenu01{
    max-width: 30%;
}

.seccionFooter{
    border-style: groove;
    display: flex;
   }
   
   .imagenFooter{
    transform: scaleX(-1);
    @media screen and (max-width:540px){
        display: none;
     }
   }
   .imagenFooter02{
    @media screen and (max-width:540px){
        display: none;
     }
   }


   .textoFooter{
    font-size: 32px;
    @media screen and (max-width:576px){
        font-size: 12px;
    }
    color: #77A1D3;
    animation: banner02 1s infinite linear;
}

    .navbar-expand-lg{

        @media screen and (max-width:576px){
        /*     transform: scale(1.2); */
    
        }
    }
    .navbar-toggler{
        @media screen and (max-width:576px){
            transform: scale(1.2);
            margin-right: 45%;
            border: solid #77A1D3;
            background-color: #078dd5;
        }
    }

   .textoHeader{
    font-size: 20px;
    font-style: italic;
    @media screen and (max-width:801px){
        font-size: 12px;
    }
    @media screen and (max-width:300px){
       display: none;
    }
    color: #77A1D3;
    animation: banner02 2s infinite linear;
    }

    .footerPenguin{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }


    .liHome{
        display: flex;
    }
    .liBotonHome{
        height: 200px;
    }
    
    .formHome{
        margin-top: 5%;
        border-style:double;
        border-radius: 5%;
        border-color:#77A1D3 ;
    }
    .imgHome01{
        margin-left: auto;
    }

    .serviciosTitulo{
        margin-top: 5%;
    margin-left: 40%;
    font-size: 40px;
    color: rgb(151, 146, 146);
    }
    .porQuePinguinosTitulo{
        margin-top: 5%;
        margin-bottom: 10%;
    margin-left: 30%;
    font-size: 40px;
    color: rgb(151, 146, 146);
    }
    .quienesSomosTitulo{
        margin-top: 5%;
    margin-left: 30%;
    font-size: 40px;
    color: rgb(151, 146, 146);
    }

    .contenidoServicios{
        margin-top: 11%;
        margin-left: 25%;
        margin-right: 20%;
    }
    .contenidoContacto{
        margin-top: 12%;
        margin-left: auto;
        margin-bottom: auto;
    }
    .contenidoQuienesSomos{
        margin-top: 11%;
        margin-left: 22%;
        margin-bottom: auto;
    }
    
    .robertElPinguino{
        max-width: 30%;
        max-height: 300px;
    }
    
    .fundador{
        display: flex;
    }

    .textoFundador{
        margin-right: 5%;
    }
  
             
             
    .btn-grad {
        background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 2px #eee;
        border-radius: 10px;
        display: block;
        text-decoration: none;
      }


      
  .btn-grad {
    &:hover{
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
  }

         
  .btn-gradx {
    background-image: linear-gradient(to right, #83a4d4 0%, #b6fbff  51%, #83a4d4  100%);
 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;

    border-radius: 10px;
    display: block;
  }

  .formHome01{
    @media screen and (max-width:1057px){
        max-width: 70%;
     }
    @media screen and (max-width:300px){
        max-width: 100%;
     }
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style:dotted;
    border-radius: 10%;
    border-color:#77A1D3 ;
    max-width: 25%;
    padding: 10px

    
  }

  .inputHome01{
    border-radius: 25%;

  }

  .imageHome01{
    border-radius: 50%;
    max-width: 50%;

  }

.seccionHome{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.seccionContactos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccionServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccionPorquePinguinos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.seccionQuienesSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.fotoFundador{
    width: 30%;
    height: 50%;
    @media screen and (max-width:560px){
        width: 50%;
        height: 50%;
    }
}